<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee system</title>
  </head>
  <nav class="bg-blue-500 flex flex-row m-2 rounded-full">
    <ul class="flex flex-row justify-center m-2 cursor-pointer">
      <li class="text-white m-1">Home</li>
      <li class="text-white m-1">About</li>
      <li class="text-white m-1">Add Employees</li>
    </ul>
  </nav>
  <body>
    <div></div>
  </body>
</html>
