<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee System</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>

  <body class="bg-slate-200 h-screen p-4">
    <!-- Navigation Bar -->
    <nav class="bg-blue-500 flex m-2 rounded-full">
      <ul class="flex w-full justify-center gap-5 m-2 cursor-pointer">
        <li class="text-white m-1">Home</li>
        <li class="text-white m-1">About</li>
        <li class="text-white m-1">Add Employees</li>
      </ul>
    </nav>

    <!-- Main Content -->
    <div class="bg-white rounded-lg shadow-md p-6">
      <h1 class="text-teal-600 text-2xl mb-6">Employee Management System</h1>
      <h2
        class="text-yellow-500 lg:w-[10%] sm:w-fit rounded-md border border-blue-500 border-1 m-3 font-semibold font-sans"
      >
        Employees
      </h2>
      <div class="overflow-x-auto">
        <table class="min-w-full overflow-x-visible bg-white">
          <thead>
            <tr>
              <th
                class="px-6 py-3 border-b-2 border-gray-300 bg-gray-100 text-left text-xs leading-4 font-medium text-blue-500 uppercase tracking-wider"
              >
                ID
              </th>
              <th
                class="px-6 py-3 border-b-2 border-gray-300 bg-gray-100 text-left text-xs leading-4 font-medium text-blue-500 uppercase tracking-wider"
              >
                Name
              </th>
              <th
                class="px-6 py-3 border-b-2 border-gray-300 bg-gray-100 text-left text-xs leading-4 font-medium text-blue-500 uppercase tracking-wider"
              >
                Email
              </th>
              <th
                class="px-6 py-3 border-b-2 border-gray-300 bg-gray-100 text-left text-xs leading-4 font-medium text-blue-500 uppercase tracking-wider"
              >
                Title
              </th>
              <th
                class="px-6 py-3 border-b-2 border-gray-300 bg-gray-100 text-left text-xs leading-4 font-medium text-blue-500 uppercase tracking-wider"
              >
                Remove
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <tr>
              <td
                class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-700"
              >
                1
              </td>
              <td
                class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-700"
              >
                Emmanuel Wangila
              </td>
              <td
                class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-700"
              >
                emmanuelwangila.com
              </td>
              <td
                class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-700"
              >
                Software Engineer
              </td>
              <td
                class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-700"
              >
                <button class="text-red-600 hover:text-red-800">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td
                class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-700"
              >
                2
              </td>
              <td
                class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-700"
              >
                Enock Wangila
              </td>
              <td
                class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-700"
              >
                enockwangila.com
              </td>
              <td
                class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-700"
              >
                Actuarial Scientist Engineer
              </td>
              <td
                class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-700"
              >
                <button class="text-red-600 hover:text-red-800">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td
                class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-700"
              >
                3
              </td>
              <td
                class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-700"
              >
                Edwin Simiyu
              </td>
              <td
                class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-700"
              >
                simiyu.comarm
              </td>
              <td
                class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-700"
              >
                Electrical Engineer
              </td>
              <td
                class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-700"
              >
                <button class="text-red-600 hover:text-red-800">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
