<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee system</title>
  </head>
  <nav class="bg-blue-500 flex m-2 rounded-full">
    <ul class="flex w-full justify-evenly m-2 cursor-pointer">
      <li class="text-white m-1">Home</li>
      <li class="text-white m-1">About</li>
      <li class="text-white m-1">Add Employees</li>
    </ul>
  </nav>

  <body>
    <div class="bg-slate-200 h-screen m-2 p-3 flex flex-col shadow-md">
      <h1 class="text-teal-600 flex-row font-sans rounded-md">
        Employee Management System
      </h1>
      <div class="flex">
        <div class="border border-1 border-gary-400">
          <table class="w-full h-full m-5 p-5 justify-between">
            <thead class="justify-between m-4 p-4">
              <tr class="flex m-3 p-3 justify-between">
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Title</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Emmanuel Wangila</td>
                <td>emmanuelwangila1gmail.com</td>
                <td>Software Engineer</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Enock Wangila</td>
                <td>enockwangila.com</td>
                <td>Acturial Scientist Engineer</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Edwin Simiyu</td>
                <td>simiyu.comarm</td>
                <td>Electrical Engineer</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
