<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Employee</title>
  </head>
  <body>
    <div
      class="w-full flex flex-col justify-center h-fit bg-slate-200 rounded-md m-3 p-4"
    >
      <h2 class="text-teal-600 font-sans font-bold">{{ title }}</h2>
      <form
        class="bg-white rounded-md max-w-96"
        (ngSubmit)="addEmployee()"
        #employeeForm="ngForm"
      >
        <div class="flex m-5 p-5 flex-col text-blue-500">
          <label class="m-2 p-3" for="name">Name:</label>
          <input
            class="bg-gray-300 border border-blue-200 rounded-md w-[50%]"
            id="name"
            type="text"
            [(ngModel)]="employee.name"
            name="name"
            required
          />
        </div>

        <div>
          <label for="email">Email:</label>
          <input
            id="email"
            type="email"
            [(ngModel)]="employee.email"
            name="email"
            required
          />
        </div>

        <div>
          <label for="title">Title:</label>
          <input
            id="title"
            type="text"
            [(ngModel)]="employee.title"
            name="title"
            required
          />
        </div>

        <div>
          <label for="phone">Phone:</label>
          <input
            id="phone"
            type="text"
            [(ngModel)]="employee.phone"
            name="phone"
            required
          />
        </div>

        <div>
          <label for="imageUrl">Image URL:</label>
          <input
            id="imageUrl"
            type="text"
            [(ngModel)]="employee.imageUrl"
            name="imageUrl"
          />
        </div>

        <button type="submit" [disabled]="!employeeForm.form.valid">
          Add Employee
        </button>
      </form>
    </div>
  </body>
</html>
