<div class="bg-gray-100">
  <div
    class="w-full max-w-md mx-auto flex flex-col justify-center h-fit bg-slate-200 rounded-md m-6 p-6 shadow-lg"
  >
    <h2 class="text-teal-600 font-sans font-bold text-2xl mb-4">
      {{ title }}
    </h2>
    <form
      class="bg-white rounded-md shadow p-6"
      (ngSubmit)="addEmployee()"
      #employeeForm="ngForm"
    >
      <div class="flex flex-col mb-4">
        <label class="mb-2 text-blue-500 font-semibold" for="name">Name:</label>
        <input
          class="bg-gray-300 border border-blue-200 rounded-md p-2 w-full focus:outline-none focus:ring-2 focus:ring-teal-500"
          id="name"
          type="text"
          [(ngModel)]="employee.name"
          name="name"
          required
        />
      </div>

      <div class="flex flex-col mb-4">
        <label class="mb-2 text-blue-500 font-semibold" for="email"
          >Email:</label
        >
        <input
          class="bg-gray-300 border border-blue-200 rounded-md p-2 w-full focus:outline-none focus:ring-2 focus:ring-teal-500"
          id="email"
          type="email"
          [(ngModel)]="employee.email"
          name="email"
          required
        />
      </div>

      <div class="flex flex-col mb-4">
        <label class="mb-2 text-blue-500 font-semibold" for="title"
          >Title:</label
        >
        <input
          class="bg-gray-300 border border-blue-200 rounded-md p-2 w-full focus:outline-none focus:ring-2 focus:ring-teal-500"
          id="title"
          type="text"
          [(ngModel)]="employee.title"
          name="title"
          required
        />
      </div>

      <div class="flex flex-col mb-4">
        <label class="mb-2 text-blue-500 font-semibold" for="phone"
          >Phone:</label
        >
        <input
          class="bg-gray-300 border border-blue-200 rounded-md p-2 w-full focus:outline-none focus:ring-2 focus:ring-teal-500"
          id="phone"
          type="text"
          [(ngModel)]="employee.phone"
          name="phone"
          required
        />
      </div>

      <div class="flex flex-col mb-4">
        <label class="mb-2 text-blue-500 font-semibold" for="imageUrl"
          >Image URL:</label
        >
        <input
          class="bg-gray-300 border border-blue-200 rounded-md p-2 w-full focus:outline-none focus:ring-2 focus:ring-teal-500"
          id="imageUrl"
          type="text"
          [(ngModel)]="employee.imageUrl"
          name="imageUrl"
        />
      </div>

      <button
        type="submit"
        [disabled]="!employeeForm.form.valid"
        class="bg-teal-600 text-white rounded-md p-3 w-full hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-teal-500 disabled:bg-teal-300"
      >
        Add Employee
      </button>
    </form>
  </div>
</div>
